/* title row and its children */
.diningCompTitleRow {
  height: 100px;
  width: 100%;
  background-color: rgb(44, 53, 49);
  flex-direction: column;
  align-items: center;
}
.diningTitleDiv {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.diningTitleDiv > p {
  position: relative;
  transform: translateY(30px) rotate(8deg);
  background-color: rgb(44, 53, 49);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(194, 194, 25);
  z-index: 10;
}
.diningTitleContent {
  flex: 1;
  font-family: "Lobster", 'Times New Roman', Times, serif;
  font-size: 2.25em;
  color:  rgb(194, 194, 25);
}
.rowBorder {
  height: 6px;
  width: 100%;
  background-color:  rgb(194, 194, 25);
  transform: scaleX(0);
  animation: animateRowBorder 2s forwards;
  animation-delay: 3s;
}
@keyframes animateRowBorder {
  from { transform: scaleX(0.1); }
  to { transform: scaleX(1); }
}
/* */

/* general rules for main view */
.diningComponentRow {
  height: 600px;
  position: relative;
  z-index: auto;
  background-image: linear-gradient(120deg, #c3cfe2, #f5f7fa);
  padding-bottom: 3em;
}
.diningComponentPictureCol {
  position: relative;
  z-index: auto;
  background: transparent;
}
.diningComponentDescCol {
  position: relative;
  z-index: auto;
  display: flex;
  background: transparent;
  flex-direction: column;
}
.diningDescWrapper {
  border-left: 3px solid rgb(44, 53, 49);
  display: flex;
  flex: 1;
}
.diningDescWrapperLeft {
  display: flex;
  flex-direction: column;
  flex: 8;
}
.diningDescWrapperRight {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}
.diningDescWrapperRight > span {
  flex: 1;
  cursor: pointer;
  padding: .25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.diningDescWrapperRight > span > i {
  font-size: 2em;
}
.diningDescWrapperRight > span > span {
  color: rgb(44, 53, 49);
}
.diningDescWrapperRight > span:hover {
  background-image: linear-gradient(#fdfbfb, #ebedee);
  border-radius: 5px;
}

.descColBorder {
  height: 100%;
  width: 6px;
  background-color: rgb(44, 53, 49);
}
.diningDescriptionDiv {
  display: flex;
  flex: 4;
  justify-content: center;
  align-items: center;
}
.diningDescriptionDiv > p {
  display: flex;
  font-size: 1em;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
}
.diningHoursDiv {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#fdfbfb, #ebedee);
  border-radius: 5px;
}
.diningHoursDiv > i {
  font-size: 2em;
  color: rgb(194, 194, 25);
}

.diningSpacerRow {
  width: 100%;
  height: 150px;
  background-image: inherit;
}
/* */

/* main images and description large screen */
@media only screen and (min-width: 992px) {

  .diningFirstImg {
    height: 50%;
    width: 50%;
    object-fit: cover;
    position: absolute;
    left: 20px;
    top: 20px;
  }
  .diningSecondImg {
    height: 50%;
    width: 50%;
    object-fit: cover;
    position: absolute;
    right: 0px;
    top: 40px;
  }
  .diningThirdImg {
    height: 50%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 0px;
  }
  
  .diningFirstImg, .diningSecondImg, .diningThirdImg {
    transform: perspective(1500px) rotateY(15deg);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 25px 50px -12px;
    transition: transform 0.5s ease 0s;  
  }
  .lastImage {
    z-index: 1;
  }

  .diningFirstImg:hover, .diningSecondImg:hover {
    transform: perspective(3000px) rotateY(5deg);
    z-index: 1;
  }
  .lastImage:hover {
    transform: perspective(3000px) rotateY(5deg);
    z-index: 1;
  }
  .diningImage {
    cursor: pointer;
    z-index: auto;
  }
  .diningImage::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #eaee44, #33d0ff) ;
    opacity: 0.5;
    z-index: 1;
  }
}

@media only screen and (max-width: 991px) {
  .diningComponentPictureCol {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .diningImage {
    position: relative;
    width: 30%;
    height: 200px;
    object-fit: cover;
  }
}

@media only screen and (max-width: 500px) {
  .diningComponentPictureCol {
    display: flex;
    flex-direction: column;
  }
  .diningImage {
    position: relative;
    width: 100%;
    height: 300px;
    object-fit: cover;
    justify-content: center;
  }
}