/* title row and its children */
.restaurantCompTitleRow {
  height: 100px;
  width: 100%;
  background-color: rgb(44, 53, 49);
  flex-direction: column;
  align-items: center;
}
.restaurantTitleDiv {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.restaurantTitleDiv > p {
  position: relative;
  transform: translateY(30px) rotate(5deg);
  background-color: rgb(44, 53, 49);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(194, 194, 25);
  z-index: 10;
}
.restaurantTitleContent {
  flex: 1;
  font-family: "Lobster", 'Times New Roman', Times, serif;
  font-size: 2.25em;
  color:  rgb(194, 194, 25);
}
.rowBorder {
  height: 6px;
  width: 100%;
  background-color:  rgb(194, 194, 25);
  transform: scaleX(0);
  animation: animateRowBorder 2s forwards;
  animation-delay: 3s;
}
@keyframes animateRowBorder {
  from { transform: scaleX(0.1); }
  to { transform: scaleX(1); }
}
/* */

/* general rules for main view */
.restaurantComponentRow {
  min-height: 400px;
  position: relative;
  z-index: auto;
  background-image: linear-gradient(120deg, #c3cfe2, #f5f7fa);
  padding-bottom: 3em;
  border: 8px solid blue;
  padding: 0;
}

/* pictures containers */

.restaurantComponentPictureCol {
  position: relative;
  z-index: auto;
  border: 3px solid pink;
  padding: 0;
  display: flex;
}
.leftPicContainer {
  border: 5px solid orange;
  width: 50%;
  height: 100%;
  padding: 0;
}
.leftPicUpperRow {
  height: 50%;
  background-color: red;;
  padding: 0;
}
.leftPicLowerRow {
  height: 50%;
  background-color: green;;
  padding: 0;
}

.rightPicContainer {
  border: 10px solid teal;
  width: 50%;
  height: 100%;
  padding: 0;
}
.rightPicRow {
  height: 100%;
  background-color: teal;
  padding: 0;
}



.restaurantComponentDescCol {
  position: relative;
  z-index: auto;
  display: flex;
  background: transparent;
  flex-direction: column;
  border: 3px solid green;
}
.restaurantDescWrapper {
  border-left: 3px solid rgb(44, 53, 49);
  display: flex;
  flex: 1;
}
.restaurantDescWrapperLeft {
  display: flex;
  flex-direction: column;
  flex: 8;
}
.restaurantDescWrapperRight {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}
.restaurantDescWrapperRight > span {
  flex: 1;
  cursor: pointer;
  padding: .25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.restaurantDescWrapperRight > span > i {
  font-size: 2em;
}
.restaurantDescWrapperRight > span > span {
  color: rgb(44, 53, 49);
}
.restaurantDescWrapperRight > span:hover {
  background-image: linear-gradient(#fdfbfb, #ebedee);
  border-radius: 5px;
}

.descColBorder {
  height: 100%;
  width: 6px;
  background-color: rgb(44, 53, 49);
}
.restaurantDescriptionDiv {
  display: flex;
  flex: 4;
  justify-content: center;
  align-items: center;
}
.restaurantDescriptionDiv > p {
  display: flex;
  font-size: 1em;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
}
.restaurantHoursDiv {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#fdfbfb, #ebedee);
  border-radius: 5px;
}
.restaurantHoursDiv > i {
  font-size: 2em;
  color: rgb(194, 194, 25);
}

.restaurantSpacerRow {
  width: 100%;
  height: 150px;
  background-image: inherit;
}
/* */

/* media queries */
@media only screen and (max-width: 520px) {
  .restaurantTitleDiv {
    width: 90%;
    font-size: 1em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  /* dont display left pics */
  .leftPicContainer {
    display: none;
  }
  .restaurantComponentRow {
    flex-direction: column;
    border: 10px solid blue;
    padding: 0;
  }
  .restaurantComponentPictureCol {
    flex: 1;
    border: 5px solid green;
    display: flex;
    flex-direction: column;
  }
  /* description */
  .restaurantComponentDescCol {
    flex: 1;
    border: 5px solid pink;
    display: flex;
    padding: 0;
  }
  /* wrapper */
  .restaurantDescWrapper {
    border: 3px solid red;
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .restaurantDescWrapperLeft {
    border: 3px solid yellow;
    flex: 1;
  }
  .restaurantDescWrapperRight {
    border: 4px solid green;
    flex: 1;
    display: flex;
    flex-direction: row;
  }

  .rightPicContainer {
    flex: 1;
    width: 100%;
    border: 15px solid yellow;
  }
  
}
/* media queries for the whole component */
/*
@media only screen and (max-width: 970px) {
  .restaurantComponentRow {
    flex-direction: column;
    border: 10px solid blue;
    padding: 0;
  }
  .restaurantComponentPictureCol {
    flex: 1;
    border: 5px solid green;
  }
  .restaurantComponentDescCol {
    flex: 1;
    border: 5px solid pink;
  }
}
*/
