:root {
  --ck-z-default: 100;
  --ck-z-modal: calc( var(--ck-z-default) + 999 );
}

.ck-editor__main {
  max-height: 300px;
  overflow-y: scroll;
}


.App {
  text-align: center;
}

.ck-editor .ck-editor__main .ck-content {
  min-height: 400px;
}

div.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

div.row {
  margin-right: 0px;
  margin-left: 0px
}

/* semantic ui reag overrides */
.ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before {
  background-color: rgb(255, 81, 0);
}
.ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before:hover {
  background-color: rgb(255, 81, 0);
}
.dimmed.dimmable > .ui.modals.dimmer.visible {
  display: flex !important;
}
