:root {
  --ck-z-default: 100;
  --ck-z-modal: calc( var(--ck-z-default) + 999 );
}

.ck-editor__main {
  max-height: 300px;
  overflow-y: scroll;
}


.App {
  text-align: center;
}

.ck-editor .ck-editor__main .ck-content {
  min-height: 400px;
}

div.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

div.row {
  margin-right: 0px;
  margin-left: 0px
}

/* semantic ui reag overrides */
.ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before {
  background-color: rgb(255, 81, 0);
}
.ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before:hover {
  background-color: rgb(255, 81, 0);
}
.dimmed.dimmable > .ui.modals.dimmer.visible {
  display: flex !important;
}



@media only screen and (max-width: 550px) {
  .modal-dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .modal-content {
    background: transparent;
    padding: 0 !important;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}