.pictureModal {
  display: flex !important;
  left: 50%;
  transform: translateX(-50%);
  background: transparent !important;
  border: 5px solid red;
}
.carouselSlider {
  height: 600px;
  width: 90vw;
  position: fixed;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  background-color: transparent;
  background: transparent;
}
.sliderContent {
  height: 100%;
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
  background: transparent;
}
.sliderImg {
  display: flex;
  height: 600px;
  width: auto;
  margin: 0 auto;
}
.closeModalToggle {
  position: fixed;
  color: white;
  font-size: 2em;
  top: 5%;
  right: 5%;
  z-index: 2;
}
.closeModalToggle > i {
  cursor: pointer;
}


/* media queries */
@media only screen and (max-width: 550px) {
  .pictureModal {
    background-color: black !important;
    position: relative;
    align-items: center;
  }
  .carouselSlider {
    position: relative;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    background-color: black;
  }
  .sliderImg {
    width: 100%;
    height: auto;
  }
}