.pictureModal {
  position: fixed !important;
  height: 100vh;
  width: 100vw;
  padding: 0 !important;
}
.carouselSlider {
  height: 600px;
  width: 90vw;
  position: fixed;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  background-color: transparent;
  background: transparent;
}
.sliderContent {
  height: 100%;
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
  background-color: black;
}
.sliderImg {
  display: flex;
  height: 600px;
  width: auto;
  margin: 0 auto;
}
.closeModalToggle {
  position: fixed;
  color: white;
  font-size: 2em;
  top: 5%;
  right: 5%;
  z-index: 2;
}
.closeModalToggle > i {
  cursor: pointer;
}


/* media queries */
@media only screen and (max-width: 550px) {
  .carouselSlider {
    height: 100vh;
    position: fixed;
    left: 0%;
    top: 0%;
    transform: translateX(0);
    background-color: transparent;
    background: black;
  }
  .pictureModal {
    background: black;
    padding: 0;
    position: relative;
  }
  .carouselSlider {
    height: 400px;
  }
  .sliderImg {
    height: 400px;
  }
}

@media only screen and (min-width: 551px) {
  .pictureModal {
    background: rgba(0, 0, 0, 0.637);
  }
  .pictureDialog {
    position: fixed;
    height: 90vh;
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  .imgCarousel {
    width: 100vw;
    height: 75vh;
  } 
}