.pictureModal {
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.pictureDialog {
  position: fixed;
  height: 90vh;
  width: 80vw;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.closeModalToggle {
  position: absolute;
  color: white;
  font-size: 2em;
  top: 5px;
  right: 5px;
  z-index: 2;
}
.closeModalToggle > i {
  cursor: pointer;
}

.imgCarousel {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.carouselItem {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.roomPopupModalImg {
  width: 100%;
}

/* media queries */
@media only screen and (max-width: 550px) {
  .pictureModal {
    background: black;
  }
  .pictureDialog {
    width: 100vw;
  }
  .imgCarousel {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  } 
}

@media only screen and (max-width: 992px) {
  .pictureModal {
    background: rgba(0, 0, 0, 0.637);
  }
  .imgCarousel {
    width: 100vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
  } 
}