.controlsRow, .titleDiv, .authorDiv {
  height: 40px;
  display: flex;
  align-items: center;
}

.postPrevCardControlIcon {
  margin: 0 0 0 auto !important;
}

.postOnlineBtns {
  margin-left: 5px !important;
}
.onlineIcon {
  color: green;
}
.offlineIcon {
  color: red;
}

.newsPostImagesCount {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 3px;
  height: 40px;
}
.newsPostImagesCount > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  width: 26px;
  background-color: rgb(73, 160, 38);
  color: white;
  border-radius: 50%;
}
.newsPostImagesCount > span:nth-child(2) {
  margin-left: 5px;
  font-style: italic;
}


.titleDiv {
  border-left: 3px solid rgb(73, 160, 38);
  border-top: 3px solid rgb(73, 160, 38);
  border-right: 3px solid rgb(73, 160, 38);
  border-radius: 5px 5px 0px 0px;
}
.titleDiv > span, .authorDiv > span {
  background-color: rgb(73, 160, 38);
  display: flex;
  align-items: center;
  padding: 0px 10px;
  border-radius: 0 0 15px 0;
  font-size: 1.2em;
  color: white;
}
.titleDiv > span {
  height: 100%;
}

.titleDiv > div, .authorDiv > div {
  margin-left: 5px;
  font-size: 1.25em;
  font-weight: bold;
}

.authorDiv {
  border-left: 3px solid rgb(73, 160, 38);
  border-right: 3px solid rgb(73, 160, 38);
}
.authorDiv > span {
  height: 90%;
}
.contentDiv {
  position: relative;
  height: calc(100% - 150px);
  overflow-y: scroll;
  padding: 5px 10px;
  border-left: 3px solid rgb(73, 160, 38);
  border-right: 3px solid rgb(73, 160, 38);
  border-top: 1px solid rgb(199, 197, 197);
  border-bottom: 1px solid rgb(199, 197, 197);
}
.imagesDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}
.imagesDiv > div:first-child {
  display: flex;
  font-size: 1.1em;
  background-color: rgb(73, 160, 38);
  padding: 3px 15px 3px 3px;
  color: white;
  font-weight: 500;
  border-radius: 0px 0px 15px 0px;
  margin-bottom: 3px;
}

.timeStampsDiv {
  height: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-left: 3px solid rgb(73, 160, 38);
  border-bottom: 3px solid rgb(73, 160, 38);
  border-right: 3px solid rgb(73, 160, 38);
  border-radius: 0 0 5px 5px;
}
.createdAtDiv, .editedAtDiv {
  display: flex;
  align-items: center;
  padding-left: 5px;
}
.createdAtDiv > span:nth-child(1), .editedAtDiv > span:nth-child(1) {
  font-style: italic;
  color: grey;
  font-size: 0.9em;
}
.createdAtDiv > span:nth-child(2), .editedAtDiv > span:nth-child(2) {
  margin-left: 5px;
  color: black;
}