/* popup edit modal with form */
.editModal {
  height: 90vh;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  padding: 1em !important;
  position: relative;
}

/* edit column and its data */
.editColumn {
  border: 1px solid rgb(104, 159, 230);
  padding: 1em;
  margin-bottom: 1em !important;
  display: flex !important;
}

.displayColumn {
  border: 1px solid rgb(104, 159, 230);
  padding: 1em;
}