.serviceFormWrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
}

/* controls */
.formControlsDiv {
  display: flex;
  height: 40px;
  flex-direction: row;
}
.formControls {
  display: flex;
}

/* form and its contents */
.formDiv {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  box-sizing: border-box;
}
.formHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid grey;
  margin-bottom: 1em;
}
.descriptionField > textarea {
  min-height: 250px;
  resize: none;
  border: 1px solid rgb(104, 159, 230);
}
.formPreviewImgsDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

/* image input - preview section */
.imageUploadInputDiv {
  border: 1px solid rgb(104, 159, 230);
  padding: 1em;
  border-radius: 4px;
  margin-top: 1em;
}

