.buttonsCol {
  border: 1px solid rgb(104, 159, 230);
  border-radius: 3px;
  padding: 1em;
}

.mainViewCol {
  border: 1px solid rgb(104, 159, 230);
  border-radius: 3px;
  padding: 1em;
}

.serviceFormColumn {
  border: 1px solid rgb(104, 159, 230);
  border-radius: 3px;
  padding: 1em;
  margin-bottom: 1em;
}