.container {
  display: flex;
  flex-direction: column;
}

/* service details divs and info */
.serviceDetailsDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1em;
}
.serviceDetailsDiv > h5 {
  width: 100%;
}
.serviceDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(104, 159, 230);
  border-radius: 2px;
  padding: 0.5em 1em;
  margin-right: 0.5em;
}
.serviceDetail > small {
  color: black;
}
.serviceDetail > strong {
  margin-left: 0.5em;
  color: green;
}

/* service description divs and data */
.serviceDescriptionDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.serviceDescriptionDiv > p {
  border: 1px solid rgb(104, 159, 230);
  border-radius: 2px;
  font-size: 1.25em;
  padding: 0.5em 1em;
}

/* service images divs and data */
.imgsPreviewDiv {
  border: 1px solid grey;
  margin-bottom: 0.5em;
  padding: 0.5em;
  width: 100%;
  overflow-x: hidden;
}
.imgsPreviewDivHeader {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}
.imgsPreviewDivHeader > span {
  margin-right: 0.25em;
  font-size: 1em;
}
.imgsPreviewDivHeader > div {
  border: 2px solid green;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgPreviewDefaultSegment {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.imgPreviewDefaultSegment > span {
  color: gray;
  font-size: 0.75em;
}
.imgPreviewDefaultSegment > i {
  font-size: 3em;
  color: rgb(27, 56, 134)
}