.serviceDisplayCol {
  border: 1px solid rgb(104, 159, 230);
  padding: 1em;
  border-radius: 2px;
  margin-bottom: 1em;
}
/* service details divs and info */
.serviceDetailsDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1em;
}
.serviceDetailsDiv > h4 {
  width: 100%;
}
.serviceDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(104, 159, 230);
  border-radius: 2px;
  padding: 0.5em 1em;
  margin-right: 0.5em;
}
.serviceDetail > small {
  color: black;
}
.serviceDetail > strong {
  margin-left: 0.5em;
  color: green;
}

/* service description divs and data */
.serviceDescriptionDiv {
  display: flex;
  flex-direction: column;
  
}
.serviceDescriptionDiv > p {
  border: 1px solid rgb(104, 159, 230);
  border-radius: 2px;
  padding: 0.5em 1em;
}

/* service images divs and data */
.serviceImagesDiv {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  border-radius: 3px;
}
.serviceImagesDiv > h4 {
  width: 100%;
}


.defaultNoImagesSegment {
  width: 100%;
}

/* buttons */
.editServiceFormToggleDiv {
  border: 1px solid rgb(104, 159, 230);
  border-radius: 2px;
  padding: 0.5em 1em;
}

/* form modal */
.editServiceFormModal {
  height: auto;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
}