.messageForm {
  position: fixed;
  border: 3px solid grey;
  border-radius: 5px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  z-index: 99999;
}

.messageFormDisplayed {
  animation: animateMessageFormOpen 300ms linear;
  -webkit-animation-fill-mode: forwards; 
  animation-fill-mode: forwards;
}
.hideMessageForm {
  animation: animateMessageFormClose 300ms linear;
  -webkit-animation-fill-mode: forwards; 
  animation-fill-mode: forwards;
}

.messageFormControls {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}
.messageFormControlsWrapper {
  background-color: rgb(63, 168, 63);
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding-right: 25px;
  border-radius: 0 0 25px 0;
}
.messageFormCloseIcon {
  font-size: 2em;
  margin-left: 5px;
  cursor: pointer;
  color: white;
}
.messageFormCloseIcon:hover {
  animation: animateMsngCloseIcon 300ms linear forwards;
}
.messengerContentView {
  display: flex;
  flex: 8;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.messengerInputDiv {
  display: flex;
  flex: 1;
}

@keyframes animateMessageFormOpen {
  0% { transform: translateX(100%); }
  90% { transform: translateX(-10%); }
  100% {transform: translateX(0%); }
}
@keyframes animateMessageFormClose {
  0% { transform: translateX(0%); }
  100% { transform: translateX(100%); }
}

@keyframes animateMsngCloseIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

/* media queries */
@media only screen and (min-width: 550px) {
  .messageForm {
    height: 400px;
    width: 300px;
    top: auto;
    left: auto;
    bottom: 10px;
    right: 0;
  }
}