.notAllowedCompWrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #4b6cb7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.notAllowedCompStatus {
  color: red;
  font-size: 8em;
}

.notAllowedCompHeader {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 3em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.notAllowedCompContent {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1.2em;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

.loginBtnDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}
.loginBtn {
  height: 50px;
  width: 100px;
  outline: none;
  border: 2px solid rgb(242, 250, 244);
  border-radius: 3px;
  background-color: white;
  color: #4b6cb7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2em;
  font-weight: 800;
}
.loginBtn:active {
  outline: none;
  border: 2px solid rgb(39, 86, 240);
  background-color: white;
  color:rgb(39, 86, 240);
}
.loginBtn:focus {
  outline: none;
}

