.newsPostReaderWrapper {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  width: 90%;
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 10px;
}
.readerControls {
  display: flex;
  flex-wrap: wrap;
  height: 40px;
  width: 100%;
  justify-content: space-between;
}

.readerContent {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  margin-top: 10px;
  box-shadow: 1px 1px 1px 1px rgb(44, 53, 49, 1);
  -webkit-box-shadow: 1px 1px 1px 1px rgb(44, 53, 49, 1); 
}
.contentTitle, .contentDetails {
  display: flex;
  width: 100%;
  align-items: center;
}
.contentTitle {
  font-size: 2.5em;
  padding: 5px 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
}
.contentDetails {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  padding: 0px 10px;
}
.contentAuthor {
  display: flex;
  flex: 4;
  align-items: center;
}
.contentAuthor > span:nth-child(1) {
  display: flex;
  align-items: center;
  background-color: #ffdb4d;
  padding: 5px 10px 10px 5px;
  border-radius: 0 0 10px 0;
  font-weight: 800;
  color: rgb(44, 53, 49, 1);
}
.contentAuthor > span:nth-child(2) {
  margin-left: 5px;
  font-size: 1.2em;
  font-family: "Lobster";
  letter-spacing: 1px;
}
.contentAuthor > span:nth-child(3) {
  margin-left: 5px;
  height: 20px;
  width: 20px;
  background-color: rgb(98, 98, 255);
  border-radius: 50%;
}
.contentTimestamps {
  display: flex;
  flex: 2;
  align-items: center;
}
.contentTimestamps > span:nth-child(1) {
  display: flex;
  align-items: center;
  background-color: #ffdb4d;
  font-weight: 800;
  color: rgb(44, 53, 49, 1);
  padding: 5px 10px 10px 5px;
  border-radius: 0 0 10px 0;
}
.contentTimestamps > span:nth-child(2) {
  margin-left: 5px;
  color: grey;
  font-style: italic;
}

.readerContentInner {
  display: flex;
  flex: 20;
  padding: 10px;
  margin-top: 10px;
  border-left: 3px solid #ffdb4d;
  border-top: 3px solid #ffdb4d;
  width: calc(100% - 20);
  margin-left: 10px;
  border-radius: 5px 0 0 0;
}
.readerInnerHeader {
  border: 3px solid red;
  width: 300px;
  height: 300px;
}

.readerPicsColumn {
  width: 300px;
  display: block;
  max-height: 75vh;
  overflow-y: scroll;
}
.readerImgDiv {
  width: 90%;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}
.readerImgDiv > img {
  width: 100%;
}

.readerTextColumn {
  width: calc(100% - 300px);
  padding: 10px;
}
.readerInnerText {
  color: rgb(44, 53, 49, 1);
}


@media screen and (max-width: 650px) {
  .readerContentInner {
    flex-wrap: wrap-reverse;
  }
  .readerPicsColumn {
    display: block;
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    border-top: 2px solid rgb(44, 53, 49, 1);
    padding-top: 5px;
  }
  .readerImgDiv {
    margin: 0 auto;
    margin-bottom: 5px;
  }
  .readerTextColumn {
    width: 100%;
  }
}

@media screen and (max-width: 500px) { 
  .contentTitle {
    font-size: 1.5em;
  }
  .contentDetails {
    flex-direction: column;
  }
  .contentAuthor, .contentTimestamps {
    width: 100%;
  }
  .readerImgDiv {
    width: 100%;
  }
}

@media screen and (max-width: 300px) {
  .readerControls {
    height: 80px;
  }
}
