.pictureModal {
  position: fixed;
  border: 10px solid green;
  background-color: blue;
  height: 100vh;
  width: 100vw;
}

.pictureDialog {
  position: fixed;
  border: 5px solid yellow !important;
  width: auto;
  height: 90%;
  left: 50%;
  overflow: hidden;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.roomPopupModalImg {
  height: 90vh;
}