.titleRow {
  color: rgb(38, 42, 51);
}

.carouselRow {
  height: 500px;
  overflow: hidden;
}
.leftImgsColumn {
  padding: 0;
  border-top: 4px solid rgb(252, 219, 3);
  border-left: 4px solid rgb(252, 219, 3);
  height: 100%;
}
.rightImgsColumn {
  padding: 0;
  height: 100%;
  border-top: 4px solid rgb(252, 219, 3);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
}

.leftImgContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid rgb(38, 42, 51);
  border-radius: 5px;
}
.leftImgContainer::after {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(38,41,0);
  background: linear-gradient(90deg, rgba(38,41,0,1) 0%, rgba(50,49,5,1) 53%, rgba(72,78,3,1) 100%);  
  opacity: .5;
  cursor: pointer;
}
.leftImgContainer:hover::after {
  opacity: 0;
  transition: opacity 0.5s linear;
}


.sideImgContainerTop {
  width: 100%;
  height: 50%;
  overflow: hidden;
  border: 1px solid rgb(38, 42, 51);
  border-radius: 5px;
}
.sideImgContainerTop::after {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(38,41,0);
  background: linear-gradient(90deg, rgba(38,41,0,1) 0%, rgba(50,49,5,1) 53%, rgba(72,78,3,1) 100%);  
  opacity: .7;
  cursor: pointer;
}
.sideImgContainerTop:hover::after {
  opacity: 0;
  transition: opacity 0.5s linear;
}

.sideImgContainerBottom {
  width: 50%;
  height: 50%;
  overflow: hidden;
  position: relative;
  border: 1px solid rgb(38, 42, 51);
  border-radius: 5px;
}
.sideImgContainerBottom::after {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(38,41,0);
  background: linear-gradient(90deg, rgba(38,41,0,1) 0%, rgba(50,49,5,1) 53%, rgba(72,78,3,1) 100%);
  opacity: .7;
  cursor: pointer;
}
.sideImgContainerBottom:hover::after {
  opacity: 0;
  transition: opacity 0.5s linear;
}
.sideImgRightBottom {
  display: block;
  height: 100%;
  object-fit: cover;
}
/* room details */
.roomDetailsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.descriptionContainerRow {
  margin-top: 1em;
  border-bottom: 4px solid rgb(252, 219, 3) !important;
  border-right: 4px solid rgb(252, 219, 3);
}

/* room description */
.roomDescColumn {
  display: flex;
  background-color: rgba(38, 42, 51, 0.082);
  color: rgb(38, 42, 51);
  padding: 0.5em;
}

/* room details */
.roomDetailsColumn {
  display: flex;
  flex-direction: column;
  padding-left: 0.5em;
}
/* room options */
.roomDetailsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: f;
  flex-direction: row;
  height: 50%;
}
.roomDetailsHeader {
  font-size: 1em;
  width: 100%;
  height: 30px;
  font-family: "Lobster", 'Times New Roman', Times, serif;
  display: flex;
  align-items: center;
}
.roomDetails {
  border-bottom: 1px solid rgb(38, 42, 51);
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin-right: 0.25em;
  margin-bottom: 0.25em;
}

.roomDetails > i {
  color: rgb(29, 122, 65);
  margin-right: 0.5em;
}
.roomOptionsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  height: 50%;
}
.roomOption {
  height: 40px;
  display: flex;
  align-items: center;
  color: rgb(38, 42, 51);
  padding: 0.5em 0;
  margin-right: 0.5em;
}
.roomOption > i {
  margin-right: 0.5em;
  color: rgb(42, 142, 189);
}

/* book row and column */
.bookColumn {
  display: flex;
  padding: 0;
  align-items: center;
}

.bookPriceDiv {
  margin-left: 0.5em;
  font-size: 1em;
  font-family: "Lobster", 'Times New Roman', Times, serif;
}
.bookPriceDiv > span {
  margin-left: 5px;
  color: rgb(38, 42, 51);
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.25em;
  font-weight: bold;
}