.apiMessageContainer {
  position: fixed;
  left: 0%;
  top: 0%;
  z-index: 999;
  width: 100vw;
  font-weight: bold;
  opacity: 1;  
}

@keyframes fadeInMessage {
  from {
    opacity: 0;
    top: -100px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}