.onlinePopupControlsWrapper {
  display: flex;
  flex-wrap: wrap;
}

.onlineOfflineDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
  padding-left: 0.5em;
}
.onlineOfflineCounter {
  margin-left: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.onlineOfflineCounter > span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
  font-weight: bold;
}
.online {
  border: 1px solid rgb(52, 143, 52);
  color: rgb(52, 143, 52);
}
.offline {
  border: 1px solid rgb(248, 44, 44);
  color: rgb(248, 44, 44);
}

.miscControls {
  margin-left: 1em;
}
