.onlinePopupControlsWrapper {
  display: flex;
  flex-wrap: wrap;
}

.onlineOfflineDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
  border-left: 1px solid grey;
  padding-left: 0.5em;
}
.onlineOfflineCounter {
  margin-left: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  color: white;
}
.onlineOfflineCounter > span {
  display: flex;
  font-size: 1.5em;
  font-weight: bold;
}
.online {
 background-color: rgb(52, 143, 52)
}
.offline {
  background-color: rgb(248, 44, 44);
}