.imagesCarouselWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
}
.imagesControl {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex: 1;
}
.imagesControl > i {
  font-size: 2em;
  color: rgb(14, 92, 14);
}
.imagesControlLeft { 
  background-color: rgb(233, 233, 233);
  border-radius: 5px 0 0 5px;
}
.imagesControlRight {
  background-color: rgb(233, 233, 233);
  border-radius: 0 5px 5px 0;
}

.imagesWrapper {
  display: flex;
  flex: 12;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}
.innerWrapper {
  display: flex;
}

.imgDiv {
  border: 2px solid rgb(104, 171, 226);
  border-radius: 5px;
  margin-right: 1em;
  display: inline-block;
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  z-index: 1;
}
.imgDiv > span {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2em;
  color: red;
  z-index: 3;
}
.imgDiv > span > i {
  cursor: pointer;
}
.imgDiv > span > i:hover {
  color: rgb(250, 53, 53);
}
.imgDiv > img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
}