#successComponent {
  width: auto;
  height: 100px;
  position: fixed;
  top: -200px;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  z-index: 999;
  animation-name: move;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

#errorComponent {
  width: auto;
  height: 100px;
  position: fixed;
  top: -200px;
  left: 50%;
  transform: translateX(-50%);  
  animation-name: move;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  z-index: 999;
}

@keyframes move {
  100% {
    transform: translateY(35vh) translateX(-50%);
  }  
}