.newPostFormWrapper {
  height: 100%;
  overflow: hidden;
}

.previewTextHTML {
  width: 100%;
  height: 250px;
  overflow-y: scroll;
  border: 4px solid rgb(65, 113, 202);
  border-radius: 5px;
  padding: 0.25em 0.5em;
}
.editorContainer {
  width: 100%;
  height: 50%;
}