.clientNavbar {
  width: 100%;
  z-index: 999 !important;
}
.nonHomeScreenNav {
  background-color: rgb(44, 53, 49, 1) !important;
}

.optionsCollapse {
  /*background-color: rgb(44, 53, 49, 1);*/
  display: flex;
  align-items: center;
  cursor: pointer;
}
.languageCollapse {
  cursor: pointer;
}

/* hide if needed (ex pic modal open) */
.hidden {
  display: none;
}


@media only screen and (min-width: 992px) {
    .nonHomeScreenNav {
      height: 65px !important;
    }
    .optionsCollapse, .languageCollapse {
      padding-left: 1em !important;
      padding-right: 1em !important;
    }
}