.mainContainer {
  position: relative;
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.parallaxContainer {
  width: 100vw;
  height: 100vh;
  position: relative;
  /* Create the parallax scrolling effect */
  background-image: url("/assets/images/layered_backgrounds/dining/restaurant_stock1.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.exploreBtnWrapper {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.headerRow {
  height: 300px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
  right: 0px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(44, 53, 49, .4);
  z-index: 200;
}
.headerText {
  border: 5px solid red;
}
.headerFixed {
  z-index: 900;
  position: fixed;
  left: 0px;
  top: 40px;
  width: 100%;
  height: 110px;
  transform: translateY(0);
  background-color: rgb(44, 53, 49, 1);
  transition: background-color 1s ease-in, height 1s ease-out;
  border-bottom: 3px solid yellow;
}

.svgContainer {
  position: relative;
  height: 100%;
  width: 100%;
}
.svgElem {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  opacity: 0.75;
  fill: rgb(44, 53, 49);
  background-color: rgb(44, 53, 49);
}
.animateSVGElem {
  opacity: 1;
  height: 100px;
  transition: all 1s linear;
}


.serviceContainer::before {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.serviceContainer::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}


