.serviceViewContainer {
  border: 1px solid rgb(44, 53, 49);
  margin-top: 1em;
  margin-bottom: 1em;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(176,176,176,1);
  -moz-box-shadow: 0px 0px 1px 1px rgba(176,176,176,1);
  box-shadow: 0px 0px 1px 1px rgba(176,176,176,1);
  padding: 0;
}

.serviceTitleRow  {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-top: 1em;
  padding-bottom: 1em;
}

.serviceTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: rgb(211, 211, 26);
  padding: 1em;
  font-size: 3em;
  font-family: "Lobster", sans-serif;
  font-weight: 500;
}


/* service info row */
.serviceInfoRow {
  display: flex;
  justify-content: center;
  background-color: white;
  padding-bottom: 0.5em;
}

.servicesPicRow {
  display: flex;
  justify-content: center;
  background-color: white;
}
.servicesPicCol {
  border: 2px solid rgb(44, 53, 49);
  overflow: hidden;
  height: 250px;
  padding: 0;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.serviceImgDiv {
  width: 100%;
  height: 100%;
  overflow: hidden;
} 
.serviceImg {
  height: 100%;
}
.serviceImg:hover {
  height: 110%;
  transition: height 100ms linear;
  cursor: pointer;
}

.serviceInfoRow {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}
.serviceInfoColumn {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(44, 53, 49);
  padding: 0;
  border-radius: 1px;
  height: 300px;
}
.hoursDiv {
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hoursDiv > span:nth-child(1) {
  font-size: 1.25em;
}
.hoursDiv > i {
  font-size: 2.25em;
}
.hoursDiv > span:nth-child(3) {
  font-size: 1.25em;
}
.priceDiv {
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.descDiv {
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}


@media only screen and (max-width: 768px) {
  .serviceImg {
    width: 100%;
    height: auto;
  }
}
