.mainContainer {
  border: 1px solid red;
  background-image: url("/assets/images/backgrounds/bg_nature_mtn.jpeg");
  position: relative;
  /* Set a specific height */
  min-height: 500px;
  margin-top: 75px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.serviceRow {
  background-color: wheat;
  display: flex;
  flex-direction: column;
}
.servicesHeader {
  /* Set a specific height */
  min-height: 300px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
.headerText {
  position: relative;
  font-size: 4em;
  font-family: "Lobster";
  width: 100%;
}
.headerText > svg {
  opacity: 0.75;
  border: 4px solid green;
  fill: black;
}

/* */

.servicesBreakpoint {
  height: 100px;
  display: flex;
  flex-grow: 1;
  border: 3px solid red;
}


.serviceContainer {
  background: none;
  border: 0;
  box-sizing: border-box;
  /* box-shadow: inset 0 0 0 2px red; */
  /* color: red; */
  font-size: inherit;
  position: relative;
  padding: 0 !important;
  z-index: 1;
}
.serviceContainer::before {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.serviceContainer::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
/* draw border */
.draw {
  transition: color 0.25s;
}
.draw::before,
.draw::after {
  border: 10px solid transparent;
  width: 0;
  height: 0;
}

/* This covers the top & right borders (expands right, then down) */
.draw::before {
  top: 0;
  left: 0;
}

/*  And this the bottom & left borders (expands left, then up) */
.draw::after {
  bottom: 0;
  right: 0;
}

.draw:hover {
  color: yellow;
}

/* Hover styles */
.draw:hover::before,
.draw:hover::after {
  width: 100%;
  height: 100%;
}

.draw:hover::before {
  border-top-color: yellow; 
  border-right-color: yellow;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.draw:hover::after {
  border-bottom-color: yellow;
  border-left-color: yellow;
  transition:
    border-color 0s ease-out 0.5s, 
    width 0.25s ease-out 0.5s,
    height 0.25s ease-out 0.75s; 
}

