.serviceRow {
  background-color: rgb(44, 53, 49);
  height: 275px;
  border-top: 4px solid yellow;
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
}

.serviceTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: absolute;
  background-color: rgb(211, 211, 26);
  left: 50%;
  top: -45px;
  transform: translateX(-50%);
  padding: 1em;
  font-size: 3em;
  font-family: "Lobster", sans-serif;
  font-weight: 500;
  color:  rgb(44, 53, 49);
  z-index: 10;
}


.serviceImg {
  width: 100%;
}
.serviceImg:hover {
  width: 110%;
  transition: width 100ms linear;
  cursor: pointer;
}

/* service info row */
.serviceInfoRow {
  display: flex;
  justify-content: center;
  background-color: white;
  padding-bottom: 0.5em;
}

.servicesPicRow {
  border: 3px solid red;
  display: flex;
  justify-content: center;
}
.servicesPicCol {
  border: 3px solid yellow;
  padding: 10px;
}
.serviceImgDiv {
  border: 2px solid red;
} 

.serviceInfoColumn {
  border: 2px solid rgb(211, 211, 26);
  padding: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 4px 2px rgba(176,176,176,1);
  -moz-box-shadow: 0px 0px 4px 2px rgba(176,176,176,1);
  box-shadow: 0px 0px 4px 2px rgba(176,176,176,1);
}

.serviceContainer {
  background: none;
  border: 0;
  box-sizing: border-box;
  /* box-shadow: inset 0 0 0 2px red; */
  /* color: red; */
  font-size: inherit;
  position: relative;
  padding: 0;
  z-index: 1;
  background-color: white;
}

