.serviceDetailsContainer {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: white;
  padding: 1em;
}

.iconDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.serviceHours {
  color: rgb(44, 53, 49);
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.25em;
  display: flex;
  align-items: center;
  border: 1px solid rgb(44, 53, 49);
  border-radius: 2px;
  padding: 5px;
}
.serviceHours > span {
  margin-left: 5px;
}

.servicePrice {
  color: rgb(44, 53, 49);
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.25em;
  display: flex;
  align-items: center;
  border: 1px solid rgb(44, 53, 49);
  border-radius: 2px;
  margin-left: 1em;
  padding: 5px;
}
.servicePrice > i {
  font-size: 2em;
}
.servicePrice > span {
  margin-left: 5px;
}

.serviceDescription {
  color: rgb(44, 53, 49);
  font-size: 1.25em;
  display: flex;
  width: 100%;
  margin-top: 1em;
}
.serviceDescription > p {
  font-style: italic;
  margin-top: 10px;
}
