/* carousel row */
.carouselRow {
  height: 300px;
  box-sizing: content-box;
}

/* smaller side images */
.leftImgsColumn {
  position: relative;
  padding: 0;
  height: 100%;
  border-top: 4px solid rgb(252, 219, 3);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  background-color: white;
}

.sideImgContainerTop {
  display: flex;
  position: relative;
  flex-grow: 1;
  width: 100%;
  height: 50%;
  border: 3px solid rgb(38, 42, 51);
  overflow: hidden;
}
.sideImgRightTop {
  width: 100%;
}

.sideImgContainerBottom {
  width: 50%;
  height: 50%;
  overflow: hidden;
  position: relative;
  border-right: 3px solid rgb(38, 42, 51);
  border-bottom: 3px solid rgb(38, 42, 51);
  border-left: 3px solid rgb(38, 42, 51);
}
.sideImgLeftBottom {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* large side image */
.rightImgsColumn {
  padding: 0;
  border-top: 4px solid rgb(252, 219, 3);
  border-right: 4px solid rgb(252, 219, 3);
  height: 100%;
}
.rightImgContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-top: 3px solid rgb(38, 42, 51);
  border-right: 3px solid rgb(38, 42, 51);
  border-bottom: 3px solid rgb(38, 42, 51);
}
.sideImgRight {
  height: 100%;
}

/* img overlay and magnify icon */
.imgOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(38, 41, 0, 0.295);
  cursor: pointer;
}
.magnifyImgIcon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgb(252, 219, 3);
  font-size: 1em;
  opacity: 0;
}

.imgOverlay:hover {
  background: rgba(38, 41, 0, 0);
  transition: background 300ms linear;
}

.imgOverlay:hover .magnifyImgIcon {
  opacity: 1;
  font-size: 2em;
  transition: opacity 200ms ease-in, font-size 350ms ease-in;
}




/* room description */
.descriptionContainerRow {
  border-left: 4px solid rgb(252, 219, 3);
  border-bottom: 4px solid rgb(252, 219, 3);  
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.roomDescColumn {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgba(38, 42, 51, 0.082);
  color: rgb(38, 42, 51);
  padding: 0.5em;
}
.roomDescDiv {
  flex-grow: 1;
  padding: 0 1em;
}

/* room details */
.roomDetailsColumn {
  display: flex;
  flex-direction: column;
  padding: 0;
}
/* room options */
.roomDetailsContainer {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  padding-left: 1em;
  background-image: linear-gradient(#fdfbfb, #ebedee);
}
.roomDetailsHeader {
  display: flex;
  font-size: 1em;
  width: 100%;
  height: 30px;
  font-family: "Lobster", 'Times New Roman', Times, serif;
  align-items: center;
}
.roomDetails {
  border: 1px solid white;
  padding: 0.5em 1em;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin-right: 0.25em;
  margin-bottom: 0.25em;
}

.roomDetails > i {
  color: rgb(29, 122, 65);
  margin-right: 0.5em;
}
.roomOptionsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 1;
  border: 1px solid #ebedee;
  padding: 0.5em 1em;
}
.roomOption {
  height: 40px;
  display: flex;
  align-items: center;
  color: rgb(38, 42, 51);
  padding: 0.5em 1em;
  border: 1px solid #ebedee;
  margin-right: 2px;
  margin-bottom: 2px;
}
.roomOption > i {
  margin-right: 0.5em;
  color: rgb(42, 142, 189);
}

/* media queries */
@media only screen and (min-width: 992px) {
  .carouselRow {
    height: 500px;
  }
}

